.back{
    z-index: -1;
}
body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;

}
.menu_bar{
    height: 30px;
    width: 100%;
    background-color: #073f68;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;

}
.logo{
    margin-top:-10px;

}
.logo img{
    height: 100px;
}
.menu ul li{
    list-style: none;
    display: inline-block;
    padding: 5px;
    margin: 5px;

}
.menu a{
    color: white;
    font-size: 20px;
    text-decoration: none;
    box-sizing: border-box;
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px;
    transition: 0.5s;
}
.menu li:hover a{
    color: #073f68;
    background-color: white;
 
}
.galeri{

    z-index: 2;
    background: url("1.jpg") ;
    width: 100%;
    height: 40vh;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.button{
    position: relative;
    top: -45px;
}
.galeri a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 20px;
    padding: 10px 30px ;
    text-decoration: none;
    box-sizing: border-box;
    border: 1px solid white;
    background-color: rgba(255,255,255,0.3);
    transition: 0.5s;

}
.galeri a:hover{
    color: #ffffff;
    background-color: transparent;
    padding: 10px;
}
.web{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    color: #ffffff;
    text-shadow:  0  1px #000000, 0 0 5px #000000;
}
.web h4{
    border-bottom: 1px solid white;
    font-size: 70PX;
    padding-bottom: 10px;

}


.ortak{
    background-image: linear-gradient(#18101d,#18101d);
}
.orta1{
    width: 33%;
    height:30%;
    border: 2px solid grey;
    border-radius: 15px;
    margin: 2% 0;
    float: left;
    color: #c2e9ff;
    box-sizing: border-box;
    left: 5px;
   
    background: linear-gradient(#18101d,#3d2949);
   
}
.orta2{
    width: 33%;
    height:40.5%;
    color: #c2e9ff;
    border: 2px solid grey;
    border-radius: 15px;
    margin: 2% 0;
    box-sizing: border-box;
    position: absolute;
    left: 33.5%;
    
    background: linear-gradient(#18101d,#3d2949);
   
}
.orta3{
    width: 33%;
    height:40.5%;
    color: #c2e9ff;
    border: 2px solid grey;
    border-radius: 15px;
    margin: 2% 0;
    position: absolute;
    left:67%;
    box-sizing: border-box;
    background: linear-gradient(#18101d,#3d2949);
   
}
.orta .icerik{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column ;
    color: #7dbcde;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;

}
.foto{
    position: relative;
    left: 40%;
    bottom: 30%;
    display: flex;
    align-items: center;
    width: 20%;
    
    

}
p{
    position: static;
    padding: 5px;
    
    
}
.alt_alan{
    background: url("ad.jpg");
}
@media screen and (max-width :767px) 
{

    
}

